* {
  margin: 0;
  padding: 0;
}

body,
html {
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.fullscreen-button {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 10;
  filter: invert(100%);
  cursor: pointer;
}